@font-face {
    font-family: "LXGW WenKai";
    src: url(./eot/LXGWWenKai-Bold.eot);
    src: local("LXGW WenKai"),
    url(./eot/LXGWWenKai-Bold.eot?#iefix) format('embedded-opentype'),
    url(./woff2/LXGWWenKai-Bold.woff2) format('woff2'),
    url(./woff/LXGWWenKai-Bold.woff) format('woff'),
    url(./ttf/LXGWWenKai-Bold.ttf) format('truetype'),
    url(./svg/LXGWWenKai-Bold.svg#webfontLXGWWenKai) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LXGW WenKai";
    src: url(./eot/LXGWWenKai-Light.eot);
    src: local("LXGW WenKai"),
    url(./eot/LXGWWenKai-Light.eot?#iefix) format('embedded-opentype'),
    url(./woff2/LXGWWenKai-Light.woff2) format('woff2'),
    url(./woff/LXGWWenKai-Light.woff) format('woff'),
    url(./ttf/LXGWWenKai-Light.ttf) format('truetype'),
    url(./svg/LXGWWenKai-Light.svg#webfontLXGWWenKai) format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LXGW WenKai";
    src: url(./eot/LXGWWenKai-Regular.eot);
    src: local("LXGW WenKai"),
    url(./eot/LXGWWenKai-Regular.eot?#iefix) format('embedded-opentype'),
    url(./woff2/LXGWWenKai-Regular.woff2) format('woff2'),
    url(./woff/LXGWWenKai-Regular.woff) format('woff'),
    url(./ttf/LXGWWenKai-Regular.ttf) format('truetype'),
    url(./svg/LXGWWenKai-Regular.svg#webfontLXGWWenKai) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LXGW WenKai Mono";
    src: url(./eot/LXGWWenKaiMono-Bold.eot);
    src: local("LXGW WenKai"),
    url(./eot/LXGWWenKaiMono-Bold.eot?#iefix) format('embedded-opentype'),
    url(./woff2/LXGWWenKaiMono-Bold.woff2) format('woff2'),
    url(./woff/LXGWWenKaiMono-Bold.woff) format('woff'),
    url(./ttf/LXGWWenKaiMono-Bold.ttf) format('truetype'),
    url(./svg/LXGWWenKaiMono-Bold.svg#webfontLXGWWenKai) format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "LXGW WenKai Mono";
    src: url(./eot/LXGWWenKaiMono-Light.eot);
    src: local("LXGW WenKai"),
    url(./eot/LXGWWenKaiMono-Light.eot?#iefix) format('embedded-opentype'),
    url(./woff2/LXGWWenKaiMono-Light.woff2) format('woff2'),
    url(./woff/LXGWWenKaiMono-Light.woff) format('woff'),
    url(./ttf/LXGWWenKaiMono-Light.ttf) format('truetype'),
    url(./svg/LXGWWenKaiMono-Light.svg#webfontLXGWWenKai) format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "LXGW WenKai Mono";
    src: url(./eot/LXGWWenKaiMono-Regular.eot);
    src: local("LXGW WenKai"),
    url(./eot/LXGWWenKaiMono-Regular.eot?#iefix) format('embedded-opentype'),
    url(./woff2/LXGWWenKaiMono-Regular.woff2) format('woff2'),
    url(./woff/LXGWWenKaiMono-Regular.woff) format('woff'),
    url(./ttf/LXGWWenKaiMono-Regular.ttf) format('truetype'),
    url(./svg/LXGWWenKaiMono-Regular.svg#webfontLXGWWenKai) format('svg');
    font-weight: normal;
    font-style: normal;
}